.all_pokemons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    overflow: auto;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(106,142,223,1) 62%, 
    rgba(64,131,229,1) 64%, rgba(136,149,218,1) 88%, rgba(26,122,235,1) 100%);
}

.all_item {
    background-color: cadetblue;
    padding: 15px;
    text-align: center;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(106,142,223,1) 62%, 
    rgba(64,131,229,1) 64%, rgba(136,149,218,1) 88%, rgba(26,122,235,1) 100%);
    cursor: pointer;
}

.pokemon_button {
    cursor: pointer;
    height: 50px;

}

.pokemon_button:active {
    
}

.button_img {
    height: 50px;
}

.navigation_block {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.navigation {
    display: inline-block;
    border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color:  darksalmon;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;

}

  .navigation:active {
      background-color: burlywood;
  }

  .all_input_block {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(106,142,223,1) 62%, 
    rgba(64,131,229,1) 64%, rgba(136,149,218,1) 88%, rgba(26,122,235,1) 100%);
  }

  .all_input {
    background-color: #eee;
	border: none;
	padding: 6px ;
	margin: 8px 0;
  }

  .all_search_by_name {
    font-size: 1.3rem;
    font-weight: 400;
  }

  @media only screen and (max-width: 600px) {
    .all_pokemons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        overflow: auto;
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(106,142,223,1) 62%, 
        rgba(64,131,229,1) 64%, rgba(136,149,218,1) 88%, rgba(26,122,235,1) 100%);
    }
  }