.main_footer {
    background-color: black ;
    padding: 50px;   
}

.footer_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.social_networks {
    display: inline-block;
    color: cornsilk;
    display: flex;
    justify-content: center;
}